-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."Grade" AS ENUM ('PA', 'E_GPX', 'GPX_S', 'GPX', 'B_C_Normal', 'B_C_Sup', 'MAJ', 'MEEX', 'MAJRULP', 'E_CPT', 'CPT_S', 'LTN', 'CNE', 'CDT', 'CDTD', 'CDTEF', 'E_COM', 'COM', 'CD', 'CG');

-- CreateTable
CREATE TABLE "public"."effectif" (
    "id" SERIAL NOT NULL,
    "prenom" TEXT NOT NULL,
    "nom" TEXT NOT NULL,
    "grade" TEXT,
    "poste" TEXT NOT NULL,
    "statut" TEXT NOT NULL DEFAULT 'Actif',
    "telephone" TEXT,
    "formations" JSONB DEFAULT '[]',
    "dateArrivee" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "effectif_pkey" PRIMARY KEY ("id")
);

